<!-- Fichero: SQapp/templates/buscar.html -->
<html>
	<head>
		<title>Duscar cita de los Simpson</title>
	</head>
	<body>

		<form action='buscar-html' method='POST'>
			{% csrf_token %}
			<input type='text' name='palabras' /> <input type='submit' value='Buscar' />
		</form>
	</body>
</html>
