<!-- Fichero: SQapp/templates/resultados.html -->
<html>
	<head>
		<title>Resultados</title>
	</head>
	<body>
		{% for cita in resultados %}
		<p>"{{cita.frase}}" {{cita.personaje}} (T{{cita.temporada}}C{{cita.capitulo}})</p>
		{% endfor %}
	</body>
</html>
